In [2]:
file=open(file='text_file.txt',mode='r')
text= file.readlines()
print(text)

['Hi, this is your text file!']

In [4]:
with open(file='text_file.txt',mode='w') as f:
    f.write('. Additional text added.')

In [8]:
import json
data_dict={'books':12,
           'articles':200,
           'subjects':['maths',
                       'programming',
                       'data science']}
json_str=json.dumps(data_dict)
print(json_str,type(json_str))

{"books": 12, "articles": 200, "subjects": ["maths", "programming", "data science"]} <class 'str'>

In [9]:
data_dict_loaded=json.loads(json_str)
print(data_dict_loaded,type(data_dict_loaded))

{'books': 12, 'articles': 200, 'subjects': ['maths', 'programming', 'data science']} <class 'dict'>

In [10]:
with open(file='text_file.txt',mode='w') as f:
    json.dump(data_dict,f)

In [15]:
import sqlite3
conn=sqlite3.connect(r'C:\Users\tmara\Documents\Data Science Portfolio\Book\Practical-Data-Science-with-Python-main\3-Chapter-3\chinook.db')
cursor=conn.cursor()

In [17]:
cursor.execute('SELECT * FROM artists LIMIT 5;')
cursor.fetchall()

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains')]

In [38]:
query="""
SELECT BillingCountry , COUNT(Total)
FROM invoices
GROUP BY BillingCountry
ORDER BY COUNT(Total) DESC
LIMIT 10;

"""
cursor.execute(query)
cursor.fetchall()

[('USA', 91),
 ('Canada', 56),
 ('France', 35),
 ('Brazil', 35),
 ('Germany', 28),
 ('United Kingdom', 21),
 ('Portugal', 14),
 ('Czech Republic', 14),
 ('India', 13),
 ('Sweden', 7)]

In [40]:
query="""
SELECT invoices.BillingCountry , invoice_items.TrackId
FROM invoices
JOIN invoice_items
ON invoices.InvoiceId= invoice_items.InvoiceId
LIMIT 10;

"""
cursor.execute(query)
cursor.fetchall()

[('Germany', 2),
 ('Germany', 4),
 ('Norway', 6),
 ('Norway', 8),
 ('Norway', 10),
 ('Norway', 12),
 ('Belgium', 16),
 ('Belgium', 20),
 ('Belgium', 24),
 ('Belgium', 28)]

In [42]:
cursor.execute('PRAGMA table_info(invoices);')
cursor.fetchall()

[(0, 'InvoiceId', 'INTEGER', 1, None, 1),
 (1, 'CustomerId', 'INTEGER', 1, None, 0),
 (2, 'InvoiceDate', 'DATETIME', 1, None, 0),
 (3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0),
 (4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0),
 (5, 'BillingState', 'NVARCHAR(40)', 0, None, 0),
 (6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0),
 (7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0),
 (8, 'Total', 'NUMERIC(10,2)', 1, None, 0)]

In [48]:
query="""
SELECT
    tracks.Name,
    invoice_items.TrackId,
    COUNT(invoice_items.TrackId),
    invoices.BillingCountry
FROM invoices
JOIN invoice_items
ON invoices.InvoiceId= invoice_items.InvoiceId
JOIN tracks
ON tracks.TrackId= invoice_items.TrackId
GROUP BY invoices.BillingCountry
ORDER BY COUNT(invoice_items.TrackId) DESC
LIMIT 10;

"""
cursor.execute(query)
cursor.fetchall()

[('Your Time Has Come', 99, 494, 'USA'),
 ('Right Through You', 42, 304, 'Canada'),
 ('Morena De Angola', 234, 190, 'France'),
 ('Admir√°vel Gado Novo', 738, 190, 'Brazil'),
 ('Balls to the Wall', 2, 152, 'Germany'),
 ('Samba Makossa', 274, 114, 'United Kingdom'),
 ('Helpless', 927, 76, 'Portugal'),
 ('When You Gonna Learn (Digeridoo)', 1434, 76, 'Czech Republic'),
 ('Cotton Fields', 702, 74, 'India'),
 ('Invaders', 1391, 38, 'Sweden')]

In [49]:
conn.close()